<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<form id="login" action="/login" method="POST">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="Email" style="width:200px;"> 
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="Password" style="width:200px;">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
        
        <div class="form-group">
            <a class="btn btn-primary" href = "/register">Register</a>
        </div>
    </div>
    
    </form>
